
<ion-content [fullscreen]="true" padding class="background" >

    
      
    
        <div id="container" >

          <div align='center'>
            <strong >
              <h1 class="titulo animate__animated animate__backInDown">Bienvenido</h1>
            </strong>
          </div>
          

            <section>
              <ion-item>
                <ion-label position="stacked">Correo</ion-label>
                <ion-input type="email" [(ngModel)]="user.email"></ion-input> 
              </ion-item>
              <br>

              <ion-item>
                <ion-label position="stacked">Clave</ion-label>
              <ion-input type="password" [(ngModel)]="user.password" ></ion-input> 
              </ion-item>
              <br>


              <div id="errorLogin">
                <h6 id="msjError"></h6>
              </div>
            </section>
              
        
        

          <br>

          <ion-button color="primary"  expand="block" (click)=onLogin() class=" btnLogin animate__animated  animate__backInUp ">Iniciar Sesión</ion-button>
          
          <ion-button color="success"  expand="block" (click)="mostrarBotones()" class=" btnLogin animate__animated  animate__backInUp ">Botones Inicio rapido</ion-button>
      
          <div *ngIf="this.mostrar" style="margin-top: 5%;">
          <ion-button color="warning"  expand="block" (click)=login_Admin() class=" btnLogin animate__animated  animate__backInRight ">Inicio Admin</ion-button>
          <ion-button color="secondary"  expand="block" (click)=login_Invitado() class=" btnLogin animate__animated  animate__backInRight ">Inicio Invitado</ion-button>
          <ion-button color="dark"  expand="block" (click)=login_Usuario() class=" btnLogin animate__animated  animate__backInRight ">Inicio Usuario</ion-button>
          <ion-button color="medium"  expand="block" (click)=login_Anonimo() class=" btnLogin animate__animated  animate__backInRight ">Inicio Anonimo</ion-button>
          <ion-button color="danger"  expand="block" (click)=login_Tester() class=" btnLogin animate__animated  animate__backInDown ">Inicio Tester</ion-button>
        </div> 




          <br>
          <br>



        </div>

</ion-content>


<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
</head>