

<ion-content [fullscreen]="true" class="background" > 

  <div class="container">

    <ion-item style="margin-top: 10%;" class="margin animacion" color="light" >
      <ion-label position="stacked">Correo</ion-label>
      <ion-input type="email" placeholder="Ingrese su Correo"  [(ngModel)]="user.email"></ion-input>
    </ion-item>
    
    <ion-item  class="margin animacion" color="light" >
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="Password" placeholder="Ingrese su contraseña" [(ngModel)]="user.password"></ion-input>
    </ion-item>


    <section style="margin-top: 5%;">
      <div align="center" style="margin-bottom: 10%;">
        <img src="assets/splashAnimado.svg" alt=""  style="width: 100px;height: 100px; border-radius: 50%; background-color: white; ">
      </div>
      
      <ion-row>
        <ion-col>
          <ion-button class="margin" color="light" size="block" (click)="onLogin()">Ingresar</ion-button>
          <ion-button class="margin" color="dark" size="block">Registrarse</ion-button>
        </ion-col>
        
      </ion-row>
      
    </section>
  
  </div>

</ion-content>

