


#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#msjError {

color: red;
animation: shakeX 1s;

}
.my-custom-menu {
  --width: 500px;
}

ion-content.background {
  --background: url('../../assets/bmg.jpg')  center center fixed repeat;
  background-size: contain;
}


.titulo
{
  font-size:40px;
font-family: learn;
color:#4e4528;

}

.btnLogin
{
  color: rgb(0, 0, 0);

}

.closed {
  color:rgb(0, 0, 0);
  
  --highlight-background: transparent;
}