<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,200&display=swap" rel="stylesheet">


<ion-content class="content">

<ion-content>
  <div class="container">
    <div class="container animacionSalida">
        <p class="animacion texto">Agustin Javier Rivola</p>
        <img class="imagen" src="assets/splashAnimado.svg" alt="" />
        <div class="spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
      <h1 class="animacion texto" style="font-size: xx-large;">4A</h1>
    </div>
      
  </div>
</ion-content>
