<ion-header>
  <ion-toolbar color="danger">
    
    <ion-buttons slot="start">
      <ion-back-button defaultHref="this.title"></ion-back-button>
    </ion-buttons>

    <ion-title>{{title}} <ion-icon name="images"></ion-icon></ion-title>

      <ion-button slot='end' color="dark" (click)="usuarioSrv.deslogearUsuario()">
        <ion-icon src='assets/puerta.svg'> </ion-icon>
      </ion-button>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding class="background">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid *ngFor="let photo of imagenesRT; index as position">
    <div>
      <ion-card *ngIf='photo.usuario== user.correo'>
        <ion-card-header>
          <ion-card-subtitle>{{photo.usuario}}</ion-card-subtitle>
        </ion-card-header>
        <ion-item>
          <ion-img [src]="photo.referencia"></ion-img>
        </ion-item>
        <ion-card-content>
        
          Votos:{{photo.votos}}
        </ion-card-content>
      </ion-card>
    </div>
   
  </ion-grid>


</ion-content>

 
  

  