<ion-header >
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >

  <div class="container">
    <ion-item style="margin-top: 5%;" class="margin" color="dark" >
      <ion-label position="stacked">Correo</ion-label>
      <ion-input type="email" placeholder="Ingrese su Correo" [(ngModel)]="user.email"></ion-input>
    </ion-item>
    
    <ion-item color="dark" class="margin" >
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="Password" placeholder="Ingrese su contraseña" [(ngModel)]="user.password"></ion-input>
    </ion-item>
  
    <ion-button class="margin" color="primary"size="block" (click)="onLogin()">Ingresar</ion-button>
    <ion-button class="margin" color="danger" size="block">Registrarse</ion-button>

  </div>

</ion-content>

