.container {
    display: flex;
    flex-direction: column;    
    height: 100%;
    background-color: #3d57c7
}

.backgroundInput
{
    background: red;
}

.margin{
    margin-left: 2%;
    margin-right: 2%;
}