<ion-header >
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background" > 

  <div class="container">

    <div align="center" style="margin-top: 10%;">
      <img src="assets/splashAnimado.svg" alt="" style="width: 100px;height: 100px; border-radius: 50%; background-color: blue;">
    </div>

    <ion-item style="margin-top: 15%;" class="margin" color="primary" >
      <ion-icon  name="mail-outline"></ion-icon>
      <ion-label style="margin-left: 5px;" name="bubbles" position="start">Correo:</ion-label>
      <ion-input type="email" placeholder="Ingrese su Correo"  [(ngModel)]="user.email"></ion-input>
    </ion-item>
    
    <ion-item  class="margin" color="primary" >
      <ion-icon name="key-outline"></ion-icon>
      <ion-label style="margin-left: 5px;" position="start">Password:</ion-label>
      <ion-input type="Password" placeholder="Ingrese su contraseña" [(ngModel)]="user.password"></ion-input>
    </ion-item>

      
    <section style="margin-top: 40%;">
      
      <ion-row>
        <ion-col>
          <ion-button class="margin" color="primary"size="block" (click)="onLogin()">Ingresar</ion-button>
        </ion-col>
        <ion-col>
          
          <ion-button   class="margin" color="primary" size="block">Registrarse</ion-button>
        </ion-col>
      </ion-row>
    </section>
  
  </div>

</ion-content>

